<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>
</head>

<body>
    <%include partials/share_planiz_modal.ejs%>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <%include partials/header.html%>
        <%include partials/left_menu.ejs%>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid demo-content">
                <div class="demo-options mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
                    <div class="mdl-card__supporting-text">
                        <h3>Budget</h3>

                        <br>

                        <form action=../../<%= planiz._id %>/<%= user.id %>/addBudget method='post'>
                            <fieldset>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input name="newoption" type="text" class="form-control" placeholder="100€" aria-label="Other...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="submit">Ajouter</button>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                        <br>

                        <h6>Votre budget est : <%= user.budget%> €</h6>
                        <h6>Le budget du groupe est : <%= planiz.budgetMin%> €</h6>


                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
