<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>
</head>

<body>
    <%include partials/share_planiz_modal.ejs%>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <%include partials/header.html%>
        <%include partials/left_menu.ejs%>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid demo-content">
                <div class="demo-options mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
                    <div class="mdl-card__supporting-text">
                        <h3>Budget</h3>


                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
