<!DOCTYPE html>
<html>
<head>
    <%include partials/head.html%>

    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/loginInput.css' />

    <script src='/javascripts/jquery.min.js'></script>
    <script language="JavaScript" type="text/javascript" src="/javascripts/login.js"></script>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


</head>

<body>
    <hgroup>
        <h1>Planiz</h1>
    </hgroup>

    <form action='/createPlaniz' method='post'>
        <fieldset>
            <div class="group">
                <input name="title" id="title" type="text" required><span class="highlight"></span><span class="bar"></span>
                <label for="title">Planiz title</label>
            </div>
            <div class="group">
                <input name="description" id="description" type="text"><span class="highlight"></span><span class="bar"></span>
                <label for="description">Planiz description</label>
            </div>
            <div class="group">
                <input name="username" id="username" type="text"><span class="highlight"></span><span class="bar"></span>
                <label for="username">My name</label>
            </div>
            <button type="submit" class="btn btn-lg btn-block">Create</button>
        </fieldset>
    </form>
</body>
</html>