<!DOCTYPE html>
<html>

<head>
    <!-- Documentation pour le calendar: https://fullcalendar.io/ -->

    <%include partials/head.html%>

    <link href='/stylesheets/fullcalendar.min.css' rel='stylesheet' />
    <link href='/stylesheets/fullcalendar.print.min.css' rel='stylesheet' media='print' />

    <!-- Calendar scripts -->

    <script src='/javascripts/moment.min.js'></script>
    <script src='/javascripts/fullcalendar.min.js'></script>

    <!--Options du calendrier -->
    <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select: function(start, end) {
                    var title = "<%= user.name%>";
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'Exemple',
                        start: '2017-11-12T17:30:00'
                    }
                ]
            });
        });
    </script>
</head>

<body>
    <%include partials/share_planiz_modal.ejs%>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <%include partials/header.html%>
        <%include partials/left_menu.ejs%>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid demo-content">
                <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                    <div id='calendar' name="calendar"></div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>
