<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>

  <link rel='stylesheet' href='/stylesheets/login.css' />
  <script src='/javascripts/jquery.min.js'></script>
  <script language="JavaScript" type="text/javascript" src="/javascripts/login.js"></script>
</head>

<body>
  <hgroup>
    <h1>Planiz</h1>
  </hgroup>
    <form>

      <div class="group">
        <input id="url" type="url" required><span class="highlight"></span><span class="bar"></span>
        <label for="url">Planiz URL</label>
      </div>

      <button type="submit" class="button buttonBlue">
        Go!
      </button>

      <button type="button" class="button buttonBlue" onclick="window.location.href='/createPlaniz'">
        Create Planiz
      </button>
    </form>
</body>
</html>