<!DOCTYPE html>
<html>

<head>
    <%include partials/head.html%>

  <link rel='stylesheet' href='/stylesheets/form.css' />
  <link rel='stylesheet' href='/stylesheets/loginInput.css' />

  <script language="JavaScript" type="text/javascript" src="/javascripts/login.js"></script>
</head>

<body>
  <hgroup>
    <h1>Planiz</h1>
  </hgroup>
    <form>

      <div class="group">
        <input id="url" type="url" required><span class="highlight"></span><span class="bar"></span>
        <label for="url">Planiz URL</label>
      </div>

      <button type="submit" class="btn btn-lg btn-block">Go!</button>

      <button type="button" class="btn btn-lg btn-block" onclick="window.location.href='/createPlaniz'">Create Planiz</button>
    </form>
</body>
</html>